/* Fundo */
body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
form {
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px 50px;
    border-radius: 15px;
    width: 330px;

    /* Glow suave */
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
}

/* Título */
.titulo-cadastro {
    text-align: center;
    color: #ffcc00;
    font-size: 26px;
    margin-bottom: 25px;
}

/* Inputs padrão */
form input {
    width: 90%;
    padding: 12px;
    margin: 15px auto 0;
    display: block;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ffffff50;
    outline: none;
    background: #111;
    color: #fff;
    transition: all 0.2s;
}

form input:focus {
    border-color: #ffcc00;
    box-shadow: 0 0 8px #ffcc00;
}

/* Container da senha com olho */
.input-senha-container {
    position: relative;
    width: 100%;
}

/* Olho minimalista */
.ver-senha {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: white;
    user-select: none;
    opacity: 0.8;
    transition: 0.2s;
}

.ver-senha:hover {
    opacity: 1;
}

/* Botão */
button {
    width: 90%;
    padding: 12px;
    margin:15px auto 0;
    font-size: 15px;
    display: block;
    font-weight: bold;
    cursor: pointer;

    background: #ffcc00;
    color: #000;
    border: none;
    border-radius: 8px;

    transition: 0.2s;
}

button:hover {
    background: #e0b200;
}

/* Link inferior */
.login-texto {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.login-texto a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.login-texto a:hover {
    text-decoration: underline;
}
