/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Fundo totalmente preto */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

/* Container do formulário */
form {
    background: #000;
    padding: 40px 35px;
    border-radius: 12px;
    width: 360px;
    border: 1px solid #fff;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.6s ease-in-out;
}

/* Título LOGIN */
.titulo-login {
    text-align: center;
    color: #ffe346; /* Amarelo ouro */
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Inputs */
form input {
    margin-top: 15px;
    padding: 14px 12px;
    border: 1px solid #aaa;
    background: #111;
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s;
    outline: none;
}

form input:focus {
    border-color: #ffe346;
    box-shadow: 0 0 5px rgba(255, 241, 50, 0.541);
}

/* Container do campo de senha com ícone */
.input-senha-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-senha-container input {
    width: 100%;
}

/* Ícone do olho */
.ver-senha {
    position: absolute;
    right: 12px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    user-select: none;
}

/* Botão */
form button {
    margin-top: 25px;
    padding: 12px;
    background: #FFD700;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #e5c100;
}

/* Texto de cadastro */
.cadastro-texto {
    margin-top: 18px;
    text-align: center;
    color: #ccc;
}

.cadastro-texto a {
    color: #FFD700;
    text-decoration: none;
    font-weight: 600;
}

.cadastro-texto a:hover {
    text-decoration: underline;
}

/* Animação */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}
