<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/usuarios/css/login.css">
</head>

<body>

    <form action="{% url 'login' %}" method="POST">{% csrf_token %}

        <h2 class="titulo-login">Uni Bank</h2>

        <input type="text" placeholder="Username..." name="username" />

        <div class="input-senha-container">
            <input id="senha" type="password" placeholder="Senha..." name="senha">
            <span class="ver-senha" onclick="toggleSenha()">👁</span>
        </div>

        <button type="submit">Logar</button>

        <p class="cadastro-texto">
            Ainda não tem uma conta?
            <a href="{% url 'cadastro' %}">Cadastre-se</a>
        </p>

    </form>

    <script>
        function toggleSenha() {
            let campo = document.getElementById("senha");
            campo.type = campo.type === "password" ? "text" : "password";
        }
    </script>

</body>
</html>
